<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Helloworld

    <form>
      <input type="text" name="email" id="email" placeholder="email" id="" />
      <input type="radio" name="isTrue" id="isTrue" placeholder="" id="" />
      <input type="checkbox" name="isValid" id="isValid" placeholder="" id="" />
      <input type="password" name="password" id="password" id="" />
      <input type="submit" />
    </form>
    <div id="message"></div>
    <button id="myButton">Test Button</button>

    <script src="/js/script.js"></script>
  </body>
</html>
